html {
  font-family: Josefin Sans;
  background: #f5f5f5;
  min-height: 100%;
}
body {
  min-height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: absolute;
  display: flex;
  left: 0;
  padding: 10px;
  color: white;
  right: 0;
  font-weight: 100;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}
nav .community {
  display: flex;
}
nav .community a {
  width: 30px;
  height: 30px;
  margin: -5px;
  margin-left: 10px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  position: relative;
  opacity: .65;
  transition: all .25s;
}
nav .community a > span {
  display: block;
  position: absolute;
  background: black;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  padding: 7.5px;
  font-size: .85em;
  border-radius: 5px;
  top: 35px;
  right: 0px;
  opacity: 0;
  transform-origin: calc(100% - 10px) 0px;
  transform: scale(0.1);
  transition: inherit;
}
nav .community a > span:before {
  display: block;
  content: ' ';
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 7.5px solid black;
  position: absolute;
  top: -7.5px;
  right: 7.5px;
}
nav .community a:hover {
  opacity: 1;
}
nav .community a:hover > span {
  transform: none;
  opacity: 1;
}
nav .community a[href^="https://gitter.im/"] {
  background-image: url("data:image/svg+xml,%3Csvg%20aria-labelledby%3D%22simpleicons-gitter-icon%22%20role%3D%22img%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%20id%3D%22simpleicons-gitter-icon%22%3EGitter%20icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M8.501%204.001H10.5V24H8.501V4.001zm6.999%200V24h-2V4.001h2zM3.5%200h2.001v15H3.5V0zm15%204.001h2V15h-2V4.001z%22%2F%3E%3C%2Fsvg%3E");
}
nav .community a[href^="https://github.com/"] {
  background-image: url("data:image/svg+xml,%3Csvg%20aria-labelledby%3D%22simpleicons-github-icon%22%20role%3D%22img%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%20id%3D%22simpleicons-github-icon%22%3EGitHub%20icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M12%20.297c-6.63%200-12%205.373-12%2012%200%205.303%203.438%209.8%208.205%2011.385.6.113.82-.258.82-.577%200-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422%2018.07%203.633%2017.7%203.633%2017.7c-1.087-.744.084-.729.084-.729%201.205.084%201.838%201.236%201.838%201.236%201.07%201.835%202.809%201.305%203.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93%200-1.31.465-2.38%201.235-3.22-.135-.303-.54-1.523.105-3.176%200%200%201.005-.322%203.3%201.23.96-.267%201.98-.399%203-.405%201.02.006%202.04.138%203%20.405%202.28-1.552%203.285-1.23%203.285-1.23.645%201.653.24%202.873.12%203.176.765.84%201.23%201.91%201.23%203.22%200%204.61-2.805%205.625-5.475%205.92.42.36.81%201.096.81%202.22%200%201.606-.015%202.896-.015%203.286%200%20.315.21.69.825.57C20.565%2022.092%2024%2017.592%2024%2012.297c0-6.627-5.373-12-12-12%22%2F%3E%3C%2Fsvg%3E");
}
nav .community a[href^="https://discord.gg/"] {
  background-image: url("data:image/svg+xml,%3Csvg%20aria-labelledby%3D%22simpleicons-discord-icon%22%20role%3D%22img%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%20id%3D%22simpleicons-discrod-icon%22%3EDiscord%20icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22white%22%20d%3D%22M20.222%200c1.406%200%202.54%201.137%202.607%202.475V24l-2.677-2.273-1.47-1.338-1.604-1.398.67%202.205H3.71c-1.402%200-2.54-1.065-2.54-2.476V2.48C1.17%201.142%202.31.003%203.715.003h16.5L20.222%200zm-6.118%205.683h-.03l-.202.2c2.073.6%203.076%201.537%203.076%201.537-1.336-.668-2.54-1.002-3.744-1.137-.87-.135-1.74-.064-2.475%200h-.2c-.47%200-1.47.2-2.81.735-.467.203-.735.336-.735.336s1.002-1.002%203.21-1.537l-.135-.135s-1.672-.064-3.477%201.27c0%200-1.805%203.144-1.805%207.02%200%200%201%201.74%203.743%201.806%200%200%20.4-.533.805-1.002-1.54-.468-2.14-1.404-2.14-1.404s.134.066.335.2h.06c.03%200%20.044.015.06.03v.006c.016.016.03.03.06.03.33.136.66.27.93.4a8.18%208.18%200%200%200%201.8.536c.93.135%201.996.2%203.21%200%20.6-.135%201.2-.267%201.8-.535.39-.2.87-.4%201.397-.737%200%200-.6.936-2.205%201.404.33.466.795%201%20.795%201%202.744-.06%203.81-1.8%203.87-1.726%200-3.87-1.815-7.02-1.815-7.02-1.635-1.214-3.165-1.26-3.435-1.26l.056-.02zm.168%204.413c.703%200%201.27.6%201.27%201.335%200%20.74-.57%201.34-1.27%201.34-.7%200-1.27-.6-1.27-1.334.002-.74.573-1.338%201.27-1.338zm-4.543%200c.7%200%201.266.6%201.266%201.335%200%20.74-.57%201.34-1.27%201.34-.7%200-1.27-.6-1.27-1.334%200-.74.57-1.338%201.27-1.338z%22%2F%3E%3C%2Fsvg%3E");
}
header {
  background-color: #0b8793;
  color: white;
  padding: 50px 0 75px;
  text-align: center;
}
header h1 {
  font-weight: 100;
  font-size: 100px;
}
header h1:before {
  content: ' ';
  width: 175px;
  height: 175px;
  margin-top: -75px;
  display: inline-block;
  background-image: url(coconut.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.32);
  background-position: center;
  border-radius: 200px;
  background-size: 88px;
  position: relative;
  right: 35px;
  top: 70px;
}

header h3 {
  color: white;
  font-weight: 900;
  font-size: 20px;
  margin-left: 175px;
}

main h1.more {
  text-align: center;
  padding: 50px 0;
}

main section {
  max-width: 900px;
  padding: 0 1em 0 1em;
  margin: auto;
}

main section h2 {
  margin: 1em 0 1em 0;
}

#demo {
  margin-top: 1em;
  border: dashed 2px grey;
  padding: 1em;
}